body {
    font-family: 'Roboto', sans-serif;
}

.container-wrapper {}

.container-wrapper--orange {
    background-color: #cf7f1d;
    color: white;
}

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;
    background-color: #f8de57;
    border-color: #f8de57;
}

.callout-container {
    height: 100vh;

    background: url("../images/bootstrap-test-whiskey-background.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.quotes-container {}

.features-container {}

/*Page headers*/

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}

/*Block dividers*/

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.block-divider--orange {
    background-color:#cf7f1d;
}

.block-divider--short {
    width: 35px;
}

/*Content containers*/

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/*Navbar*/

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.25);
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

/*Jumbotron*/

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    margin: 25px 0;
    color: #bdbdbd;
}

.jumbotron small {
    font-size: 70%;
    font-style: italic;
    color: #d0d0d0;
}

/*Buttons*/

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--orange {
    color: white;
    background-color: #cf7f1d;
    border-color: #cf7f1d;
}

.btn--orange:hover,
.btn--orange:active,
.btn--orange:focus,
.btn--orange:active:focus {
    background-color: #e79026;
    border-color: #e79026;
    color: white;
}
